.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all data/report artifacts by extension
*.RData
*.rdata
*.csv
*.html

# Ignore generated fmri outputs
fmri/output/*.RData

# Ignore log files
log/

# Ignore generated
output/
papers/
tables/
figures/
datasets/
summary_output_files/
activation_detection/
fmri/
